<h2>Admin Panel</h2>

<ul id="userList"></ul>

<form method="post">
Name: <input name="name">
Percentage: <input name="percent">
<button>Submit</button>
</form>

<script>
function loadUsers(){
    fetch("/get_users")
    .then(res => res.json())
    .then(data => {
        let list="";
        for(let u in data){
            list += "<li>"+u+" ❤️ "+data[u]+"</li>";
        }
        document.getElementById("userList").innerHTML=list;
    });
}

setInterval(loadUsers,3000);
loadUsers();
</script>