<!DOCTYPE html>
<html>
<head>
<title>Love Predictor</title>
<style>
body{
background: linear-gradient(pink,red);
text-align:center;
font-family:sans-serif;
}
.box{
background:white;
width:320px;
margin:auto;
padding:25px;
margin-top:100px;
border-radius:20px;
}
</style>
</head>
<body>

<div class="box">
<h2>❤️ Love Predictor ❤️</h2>
<form method="post">

<p>Your Name</p>
<input name="name" required>

<p>Crush First Letter</p>
<input name="first" required>

<p>Crush Last Letter</p>
<input name="last" required>

<br><br>
<button>Check Result</button>

</form>
</div>

</body>
</html>